---
import BaseLayout from './BaseLayout.astro';

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <div class="flex flex-col space-y-[var(--grid-cell)] pb-[var(--grid-cell)] min-h-[calc(100vh-var(--grid-cell))]">
        <slot />
    </div>
</BaseLayout>